.titulo{
    color: rgb(54, 54, 54);
    border: 10px solid rgb(76, 0, 255);
    background-color: rgb(168, 198, 255);
    text-align: center;
}

.seccion1{
    font-size: 0.7em;
    text-align: center;
    width: auto;
    height: 250px;
    border: 3px solid black;
}