body {
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  background-color: aqua;
  color: blue;
}

h1.classe1 {
  color: green;
  background-color: #ff80c0;
  text-align: center;
}
p.classe2 {
  color: red;
  background-color: gray;
}
