/* TAULA DE L'EJERCICI 1 */

.ejercici1{
    border: 3px solid gray;
    background-color:  blanchedalmond;
}

.tabla{
    border: 3px solid red;
    margin-left: 40%;
}
td{
    border: 3px solid red;
    padding-right: 150px;
}

/* EJERCICI 2 */

.ejercici2{
    display: flex;
    border: 2px solid red;
    flex-direction: column;
}

.element1{
    font-size: 3em;
    background-color: blue;
}
.element2{
    font-size: 2em;
    background-color: green;
}